# Ignorar ambiente virtual
.venv/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar configurações locais
*.env

# Ignorar dados brutos (opcional, se forem muito grandes)
data/raw/

# Ignorado o arquivo com a estrutura do projeto (temp)
estrutura_projeto.txt
data/processed/precos_combustiveis_unificado.csv
src/
src/*.py